<html>
<head>
  <meta charset="utf-8"/>
  <title>Bears</title>
  <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
</head>

<body>
	<div>
        <ul id="bear-list" data-bind="foreach: allBears">
          <li>
            <h1><span data-bind="html: name"></span></h1>
            <p><span data-bind="html: _id"></span></p>
          </li>
        </ul>
  </div>

  <script>
    var ViewModels = {} || ViewModels;
	ViewModels.BearsViewModel = (function () {
		var exports = {};
		exports.allBears = ko.observableArray([]);
		
		exports.load = function () {
			$.get("/api/bears",
			function (data) {
				exports.allBears(data);
			})
			.fail(function (data) {
				deferred.reject(error);
			});
		};
		
		return exports;
    }());

    $(document).ready(function () {
		ko.applyBindings(ViewModels.BearsViewModel, document.getElementById('bear-list'));
		ViewModels.BearsViewModel.load();
    });

  </script>
</body>
</html>
