<html>
<head>
    <meta charset="utf-8">
    <title>
        Evals 2.0
    </title>
</head>
<body>
    <div style="height:100%;width:100%;">
        <div style="width: 90%; height: 30%; background-color: white; opacity: 0.6; margin-left: 5%;">
            &nbsp;<br>
            <div style="text-align: center; width: 100%;">
                <h1>EVALS 2.0</h1>
            </div>
            <div style="text-align: center;  width: 100%;">
                <span>Please complete evaluations.<br>Enter comments and rate sessions 1 (low) to 5 (high).</span>
                &nbsp;<br>&nbsp;<br>&nbsp;<br>
            </div>
            <div style="text-align: center;">
                <table align="center" cellpadding="5">
                    <tbody>
                        <tr>
                            <td style="text-align: left;"><div id="session9"><b>Sessions</b></div></td>
                            
                        <tr>
                            <td style="width: 60%; text-align: left;">SESSION_TITLE</td>
                            <td align=right>
                                <input type=text value=SESSION_RATING></input>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 60%; text-align: left; " colspan="7">
                                <textarea style="background-color:White;width:100%;background-color:white!important;margin-bottom:20px;" rows="3" cols="20">SESSION_COMMENT</textarea>
                            </td>
                        </tr>
                        
                </table>
            </div>
</body>
</html>